<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <%- include("../common/header.ejs"); %>
  <body
    class="vertical-layout vertical-menu-modern navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col=""
  >
    <%- include('../common/navbar.ejs'); %> <%-
    include('../common/sidebar.ejs'); %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <div class="auth-wrapper">
            <div class="auth-inner py-2">
              <div class="card mb-0">
                <div class="card-body">
                  <form
                    class="auth-reset-password-form"
                    action="/updatepassword"
                    method="POST"
                  >
                    <div class="mb-1">
                      <div class="d-flex justify-content-between">
                        <label class="form-label" for="old-password"
                          >Old Password</label
                        >
                      </div>
                      <div
                        class="input-group input-group-merge form-password-toggle"
                      >
                        <input
                          type="password"
                          class="form-control form-control-merge"
                          id="old-password"
                          name="oldPassword"
                          minlength="5"
                          maxlength="50"
                          placeholder="••••••••"
                          aria-describedby="old-password"
                          tabindex="1"
                          autofocus
                        />
                        <span class="input-group-text cursor-pointer"
                          ><i data-feather="eye"></i
                        ></span>
                        <div class="invalid-feedback">
                          Old Password is required
                        </div>
                      </div>
                    </div>

                    <div class="mb-1">
                      <div class="d-flex justify-content-between">
                        <label class="form-label" for="new-password"
                          >New Password</label
                        >
                      </div>
                      <div
                        class="input-group input-group-merge form-password-toggle"
                      >
                        <input
                          type="password"
                          class="form-control form-control-merge"
                          id="new-password"
                          name="newPassword"
                          minlength="5"
                          maxlength="50"
                          placeholder="••••••••"
                          aria-describedby="new-password"
                          tabindex="2"
                        />
                        <span class="input-group-text cursor-pointer"
                          ><i data-feather="eye"></i
                        ></span>
                        <div class="invalid-feedback">
                          New Password is required
                        </div>
                      </div>
                    </div>

                    <div class="mb-1">
                      <div class="d-flex justify-content-between">
                        <label class="form-label" for="confirm-new-password"
                          >Confirm Password</label
                        >
                      </div>
                      <div
                        class="input-group input-group-merge form-password-toggle"
                      >
                        <input
                          type="password"
                          class="form-control form-control-merge"
                          id="confirm-new-password"
                          name="confirmPassword"
                          minlength="5"
                          maxlength="50"
                          placeholder="••••••••"
                          aria-describedby="confirm-new-password"
                          tabindex="3"
                        />
                        <span class="input-group-text cursor-pointer"
                          ><i data-feather="eye"></i
                        ></span>
                        <div class="invalid-feedback">
                          Confirm Password is required
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-primary" tabindex="4">Update</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <%- include('../common/footer.ejs'); %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>

    <script>
      $(window).on("load", function () {
        if (feather) {
          feather.replace({ width: 14, height: 14 });
        }
      });

      $(document).ready(function () {
        $(".auth-reset-password-form").on("submit", function (e) {
          e.preventDefault();

          $(".form-control").removeClass("is-invalid");

          let isValid = true;
          let oldPassword = $("#old-password").val().trim();
          let newPassword = $("#new-password").val().trim();
          let confirmPassword = $("#confirm-new-password").val().trim();

          // Check for empty fields
          $(".form-control").each(function () {
            if ($(this).val().trim() === "") {
              $(this).addClass("is-invalid");
              isValid = false;
            }
          });

  
       

          const formData = $(this).serialize();
          $.ajax({
            url: "/updatepassword",
            method: "POST",
            data: formData,
            success: function (response) {
              toastr.success("Password updated successfully");
              window.location.href = "/login";
            },
            error: function (xhr) {
              const errorMessage = xhr.responseJSON
                ? xhr.responseJSON.message
                : "An error occurred";
              toastr.error(errorMessage);
            },
          });
        });

  
        $(".form-control").on("input", function () {
          $(this).removeClass("is-invalid");
        });
      });
    </script>
  </body>
</html>
